@import "components/modal_window/modal_window";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 16px;
	line-height: 1.2;
}
img {
	max-width: 100%;
}
button {
	outline: none;
}
.products-wrapper {
	background-color: #f5f5f5;
}
.products-list {
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 50px;
	text-align: center;
}
.products-item {
	display: inline-block;
	width: 250px;
	padding: 5px;
	margin: 0 3% 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	img {
		display: block;
		margin-bottom: 10px;
		&:hover {
			transform: scale(1.05);
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: #111;
		&:hover {
			color: #23a1d1;
		}
	}
	.name_cat {
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		padding: 10px 0 20px;
	}
	.name,
	.price {
		display: block;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}
.btn-buy {
	display: inline-block;
	width: 80%;
	height: 30px;
	background-color: #fff;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	text-transform: uppercase;
	color: #333;
	cursor: pointer;
	&:hover {
		background-color: #e6e6e6;
	}
}

.products-item a,
.products-item img,
.btn-buy {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}